@import url("https://fonts.googleapis.com/css?family=Montserrat");

@media (min-width:480px)  {

    body{
      display: flex;
      overflow-x: hidden;
      max-width: 100vw;
    }
  .body-container{
  }
    .banner{
      position:fixed;
      background-color: white;
      height: 200px;
      width: 100vw;
      top: 0;
      margin: 0px;
      display: grid;
      align-items: center;
      justify-items: center;
      font-family: Courier;
      position: fixed; /* Make it stick/fixed */
      top: 0; /* Stay on top */
      width: 100%; /* Full width */
      transition: top 0.5s; /* Transition effect when sliding down (and up) */
    }
    h1.banner2{
      font-family: SignPainter;
      font-size: 120px;
      color: #ff7a7e;
      margin: 34px;
    }
    form textarea, select, input, button{
      outline: 0px;
    }
    h4{
      width: 50vw;
      font-size: 48px;
      padding-left: 28px;
      font-family: Courier;
      color: rgba(0, 0, 0, 0.5);
    }
    .posts-container{
      margin-top: 160px;
      margin-bottom: 160px;
    }
    .postname{
      width: 40vw;
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      padding-top: 40px;
      margin-bottom: 28px;
    }
    .postdate{
      width: 60vw;
      border-top: 5px solid #ff7a7e;
      padding-top: 40px;
      margin-bottom: 28px;
    }
    .post-user{
      display: flex;
        width: 100vw;
    }
    p{
      width: 100vw;
      font-size: 48px;
      font-family: Courier;
      padding-left: 28px;
      color: rgba(0, 0, 0, 0.5);
      margin: 0px;
      margin-top: 40px;
    }
    span {
    }
    .like-counter {
      white-space:nowrap;
    }

    a{
      text-decoration: none;
      color: white;
      font-size: 48px;
      font-family: Courier;
      padding-left: 28px;
    }
    a, img{
      text-decoration: none;
      color: white;
      font-size: 48px;
      padding-left: 0px;
    }

    img{
      width: 100vw;
      max-height: 140vh;
      margin: 0;
      color: rgba(0, 0, 0, 0.5);
    }

    /* navigation bottom bar */
    .navbar {
      background-color: white;
      position: fixed; /* Set the navbar to fixed position */
      bottom: 0; /* Position the navbar at the top of the page */
      width: 100vw; /* Full width */
      height: 160px;
      display: grid;
      justify-items: center;
      align-items: center;
    }
    .navbar a{
    color: rgba(0, 0, 0, 0.5);}

    .nav-post{
      display: inline-grid;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .nav-add{
      display: inline-grid;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .nav-profile{
      display: inline-grid;
      grid-column-start: 3;
      grid-column-end: 4;
    }

    /* likebar under img style */
    .like-bar{
      width: 100vw;
      margin-top: 20px;
      display: grid;
    }
    .like-bar p{
      margin: 0;
    }
    .like-btn{
      width: 80px;
      height: 80px;
      margin-left: 28px;
      background-image: url("../assets/icons/heart-red.svg");
      display: inline-grid;
      background-color: white;
      border: none;
      grid-column-start: 1;
      grid-column-end: 2;
      border:0px;
      outline:0px;
    }

    .liked{
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      background-color: white;
      border: none;
      background-size: cover;
      background-image: url("../assets/icons/heart-outline.svg");
    }


    .like-counter{
      width: 80px;
      height: 80px;
      font-size: 40px;
      white-space: nowrap;
      margin: 0;
      display: inline-grid;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      grid-column-start: 2;
      grid-column-end: 3;

    }
    .comment-btn{
      width: 80px;
      height: 80px;
      margin-right: 28px;
      background-image: url("../assets/icons/comment.svg");
      justify-self: right;
      align-items: center;
      display: inline-grid;
      grid-column-start: 3;
      grid-column-end: 4;
    }

    /* loggin page styling */
    .loggin-page{
      height: 70vh;
      width: 100vw;
      text-align: center;
      position: relative;
      align-content: center;
      justify-content: center;
    }
    .loggin-logo{
      width: 100vw;
      margin-top: 23vh;
      font-family: SignPainter;
      font-size: 220px;
      color: #ff7a7e;
      text-align: center;
    }
    .loggin-form{
      width: 100vw;
      padding-top:100px;
      padding-left: 15%;
      padding-right: 15%;
    }
    .loggin-form button{
      width: 10vw;
      height: 10vw;
      margin-top: -100px;
      margin-bottom: 60px;
      box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
      background-color: white;
      border-radius: 50%;
      font-size: 30px;

    }
    .loggin-form .form-control{
      background-color: white;
      width: 700px;
      height: 120px;
      font-size: 40px;
      margin-bottom: 100px;
      border-radius: 70px;
      box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
      padding-left: 50px;
      color: rgba(0, 0, 0, 0.5);
    }
    .login-a{
      margin-left: auto;
      margin-right: auto;
      color: black;
      text-decoration: underline;
    }

    /* newpost styling */
    .newpost-container{
      width: 100vw;
    }
    .newpost-form{
      margin-top: 6vh;
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
    #image{
      width: 100vw;
      min-height: 100vw;
      background-color: rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      margin-top: 40px;
    }
    .newpost-form textarea{
      font-size: 38px;
      width: 70vw;
      height: 8vh;
      padding-left: 14px;
      border-color: rgba(0, 0, 0, 0.5);
      margin-top: 3vh;
      border-radius: 20px;
      font-family: Courier;
    }
    .choseimg-form{
      font-size: 38px;
      width: 70vw;
      height: 8  0px;
      border-color: rgba(0, 0, 0, 0.0);
      background-color: white;
      margin-bottom: 3vh;
      text-align: center;
      border-radius: 70px;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      display: table-cell;
      vertical-align: middle;
      font-family: Courier;
    }
    .newpost-form button{
      font-size: 48px;
      width: 70vw;
      height: 80px;
      margin-top: 2vh;
      margin-bottom: 2vh;
      border-color: rgba(0, 0, 0, 0.0);
      background-color: white;
      margin-bottom: 3vh;
      text-align: center;
      border-radius: 70px;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      font-family: Courier;
      margin-bottom: 180px;
    }
    .nwepost-hidden{
      display: none;
    }


  /* edit profile styling  */
  .profile-site{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-row: 2;
    justify-items: center;
    align-items: center;
  }
  .profile-top{
    width: 100vw;
    display: grid;
    margin-top: 14vh;
    justify-items: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2

  }
  .profile-name{
    text-align: center;
  }
  .profile-form-box{
    width: 100%;
    display: grid;
    align-items: stretch;
    justify-items: center;
    align-items: center;
    padding-bottom: 200px;
  }

  .profile-form-box form{
    font-size: 38px;
    width: 80vw;
    padding: 50px;
    border-color: rgba(0, 0, 0, 0.0);
    background-color: white;
    margin-bottom: 3vh;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: table-cell;
    vertical-align: middle;
    font-family: Courier;
  }
  .profile-form-box form input,textarea{
    border-color: rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 8px;
    padding-left: 10px;
    width: 100%;
    font-family: Courier;
  }
  .profile-form-box form button{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left:auto;
    margin-right:auto;
  }
  .profile-form-box .button:parent{
    display: grid;
    text-align: center;
    justify-items: center;
    align-items: center;
  }

  /* user profile style */
  .user-container{
    display: grid;
    grid-template-columns: 32vw 32vw 32vw;
    grid-template-rows: 30vw;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    padding-bottom: 200px;
  }
  .user-img-container{
    margin-top: 13vh;
    justify-content: center;
    width: 100vw;
  }
  .user-img-container h3{
    font-size: 48px;
    justify-content: center;
    font-family: Courier;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100vw;
  }
  .user-img-container h4{
    font-size: 38px;
    font-family: Courier;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100vw;
    text-align: left;
  }
  .profile-img{
    display: flex;
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
  }
  .user-img{
    height: 30vw;
    overflow: hidden;
    object-fit: fill;
    display: block;
  }

  .user-name{
    width: 100vw;
    text-align: center;
  }

  .user-img {
    position: relative;
    overflow: hidden;
}
.user-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.user-img img.portrait {
  width: 100%;
  height: auto;
}

/* editpost style */
.editprofile-container{
  margin-top: 200px;
  width: 100vw;
  margin-bottom: 160px;
}
.editpost-form{
  font-size: 48px;
  width: 100vw;
  padding: 50px;
  border-color: rgba(0, 0, 0, 0.0);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: -6vh;
  border-radius: 50px;
  font-family: Courier;
  text-align: center;
}
.editpost-form label{
  text-align: center;
  width: 100%;
}
.editpost-form textarea{
  width: 100%;
  margin-top: 40px;
  padding-left: 20px;
  height: 12vh;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  vertical-align: top;
  padding-top: 0;
}
.editpost-form button{
  width: 70%;
  margin-top: 60px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}


/* comments styling */
.comments-container{
  margin-top: 200px;
}
.comments-container img{
  margin-bottom: 40px;
}
.comments-container h3{
  font-size: 38px;
  margin-left: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Courier;
  color: rgba(0, 0, 0, 0.5);
}
.comments-container h4{
  width: 90%;
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Courier;
  color: rgba(0, 0, 0, 1);
}
.comment-date{
  text-align: right;
  width: 20vw;
  margin-left: 30vw;
}
.comments-form{
  margin-bottom: 200px;
}
.comments-form form{
  text-align: center;
}
.comments-form button{
  font-size: 48px;
  width: 70%;
  margin-top: 60px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 40px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.comments-form  input{
  font-size: 48px;
  width: 90%;
  margin-top: 40px;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  vertical-align: top;
  padding: 10px;
}

/* new account style */
.newprofile-container {
  margin-top: 36vh;
  width: 100%;
  margin-bottom: 0px;
}
/* .body-container .banner h1 {
  margin-top: 200px;
  font-size: 200px;
} */
.newprofile-container form{
  font-size: 38px;
  margin-left: 0%;
  width: 100%;
  padding: 50px;
  border-color: rgba(0, 0, 0, 0.0);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: -6vh;
  border-radius: 50px;
  font-family: Courier;
  text-align: center;
}
.newprofile-container form input{
  border-color: rgba(0, 0, 0, 0.2);
  font-size: 48px;
  padding: 5px;
  background-color: white;
  border-radius: 26px;
  padding-left: 10px;
  margin-top: 30px;
  width: 90%;
  font-family: Courier;
}
.newprofile-container form button{
  width: 70%;
  margin-top: 160px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 35px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.newprofile-a{
  text-align: center;
  width: 100vw;
  margin-top: 9vh;
}
.newprofile-a a {
  width: 100vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-decoration: underline;
}
    /* Dropdown Button */
.dropbtn {
  background-image:url("../assets/icons/settings.svg");
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 150px;
  height: 74px;
  border: none;
  cursor: pointer;
  position: relative;
  border:0px;
  outline:0px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  margin-top: 0px;
  z-index: 2;
  right: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 190px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-size: 30px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {

}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

}

@media (min-width:1000px)  {
  body{

  }
.body-container{
  width: 40vw;
  margin-left: 30vw;
  margin-right: 30vw;
  flex-direction: row;
  flex-wrap: wrap;
}
.body-container p{
  font-size: 38px;
  width: 100%;
  margin: 0;
}
img {
  width: 100%;
  object-fit: cover;
}
a{
  width: 100%
}
.post-user{
  width: 100%;
}
.post-user h4{
width: 100%;
font-size: 28px;
padding-top: 40px;
}
.like-bar{
  width: 100%;
}
.like-bar p
{
  padding-left: 23%;
  font-size: 28px;
  width: 100%;
}
.liked{
  width: 50px;
  height: 50px;
}
.like-btn{
  width: 50px;
  height: 50px;
}
.like-bar p {
  align-items: normal;
  padding-top: 10px;
}

/* comment page style desktop  */

.comments-container h4{
  font-size: 20px;
}
.comments-container span{
  display: none;
}
.comment-btn{
  height: 50px;
}


 /* desktop banner style */
.banner{
  width: 40%;
  height: 170px;
  z-index: 2;
}
.banner button{
  height: 44px;
}
.banner h1{
  font-size: 100px;
}
#myDropdown{
  right: 50px;
}
.dropbtn{
    width: 100px;
}
.navbar{
  width: 40vw;
  height: 100px;
}
.navbar a{
  font-size: 26px;
  text-align: center;
}
.newpost-container{
  width: 100%;
}
.newpost-container #image{
  margin-top: 170px;
  width: 100%;
  max-height: 50vh;
  min-height: 50vh;
}
.newpost-container form{
  width: 80%;
  margin-top: 2vh;
}
.newpost-container form textarea{
  width: 100%;
}
.newpost-container form button{
  width: 100%;
}

.newpost-form textarea{
  font-size: 24px;
}
.newpost-form label{
  font-size: 24px;
}
.newpost-form button{
  font-size: 24px;
  height: 50px;
}

.user-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 25%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    padding-bottom: 200px;
    padding-top: 40px;
}
.user-img img.portrait {
    width: 100%;
    height: 100%;
  }
.user-img-container{
  width: 100%;
  margin-top: 18vh;
  display: table;
}
.user-img-container h3{
  width: 100%;
  font-size: 38px;
}
.user-img-container h4{
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 30px;
  text-align: center;
  display: block;
}
  .profile-img {
    border-radius: 50%;
    width: 260px;
    height: 260px;
}

/* update profile desktop style */
.profile-site{
  width: 100%;
}
.profile-top{
  width: 100%;
  margin-top: 20vh;
}
.profile-form-box{
  width: 100%;
}
.profile-form-box form{
  width: 100%;
  font-size: 28px;
}
/* login desktop style  */
.loggin-page{
  width: 100%;
}
.loggin-page h1{
  width: 100%;
  margin: 0;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.loggin-page form{
  width: 100%;
  padding: 0;
}
.loggin-form .form-control{
  background-color: white;
  width: 510px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 100px;
  border-radius: 70px;
}
.loggin-form button {
    width: 100px;
    height: 100px;
    margin-top: -100px;
    margin-bottom: 60px;
  }
.login-a{
  font-size: 28px;
}
/* create account desktop style */
.newprofile-container {
  margin-top: 160px;
  width: 100%;
  margin-bottom: 0px;
}
.newprofile-container form{
  font-size: 38px;
  margin-top: 22vh;
  margin-left: 10%;
  width: 80%;
  padding: 50px;
  border-color: rgba(0, 0, 0, 0.0);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: -6vh;
  border-radius: 50px;
  font-family: Courier;
  text-align: center;
}
.newprofile-container form input{
  border-color: rgba(0, 0, 0, 0.2);
  font-size: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 16px;
  padding-left: 10px;
  margin-top: 30px;
  width: 100%;
  font-family: Courier;
}
.newprofile-container form button{
  width: 70%;
  margin-top: 60px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 35px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
/* .body-container .banner h1 {
  margin-top: 20px;
  font-size: 200px;
} */
.newprofile-a {
    text-align: center;
    width: 100%;
    margin-top: 4vh;
}
.newprofile-a a{
    font-size: 38px;
}
/* eddit upplod discription */
.editprofile-container{
  width: 100%
}
.editprofile-container form{
  font-size: 30px;
  margin-top: 0vh;
  width: 100%;
  padding: 50px;
  border-color: rgba(0, 0, 0, 0.0);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: -6vh;
  border-radius: 50px;
  font-family: Courier;
  text-align: center;
}
.editprofile-container textarea{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left:auto;
  margin-right:auto;
}
.editprofile-container button{
  width: 90%;
  margin-top: 20px;
  padding: 12px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 35px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
}
